  <div class="login-form-container">
    <form class="login-form" [formGroup]="loginForm" (submit)="submit()">
      <div class="form-field-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="name@domain.com" formControlName="email" required>
          <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
            Enter a valid email!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
            Enter your password!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="submit-container">
        <button id="submit-button" type="submit" mat-button mat-raised-button color="accent" [disabled]="loginForm.invalid">
          LOG IN
        </button>
      </div>
    </form>

    <div class="register-option" (click)="goToRegisterPage()">
        Don't have an account? Register here.
    </div>

  </div>
