<mat-toolbar color="primary">
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->

    <span>DENTART</span>
    <span class="example-spacer"></span>
    <button mat-button class="toolbar-button">
        DOCTORS
    </button>
    <button mat-button class="toolbar-button">
        SERVICES
    </button>
    <button mat-icon-button class="toolbar-button place-icon" aria-label="icon-button with place icon">
      <mat-icon>place</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-button account-icon" aria-label="icon-button with account icon">
        <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>