.appointment-button {
  visibility: hidden;
  opacity: 0;
}

.selected-doctor-card > .container > .appointment-button {
  visibility: visible;
  opacity: 1;
}


.doctor-card {
  width: 200px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.doctor-photo {
  width: 100%;
}

.doctor-photo-container {
  max-height: 200px;
  overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.doctor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.appointment-button{
  transition:visibility 0.3s linear,opacity 0.3s linear;
}