@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */  
$my-custom-primary: mat-palette($mat-cyan, 900);
$my-custom-accent: mat-palette($mat-red, A200);
$my-custom-warn: mat-palette($mat-red, 400);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);