<div class="page-title">DOCTORS</div>

<div class="doctors-container">
  <div class="doctors-list">
    <div *ngFor="let doctor of doctors">
      <div class="doctor-card" (click)="onSelect(doctor)">
        <div class="doctor-photo-container">
            <img class="doctor-photo" [src]="getImagePath(doctor)" alt=""/>
        </div>
        <div class="container">
          <h4><b>{{doctor.lastName}} {{doctor.firstName}}</b></h4>
          <p>{{doctor.jobDescription}}</p>
        </div>
      </div>
    </div>
</div>


