<div class="page-title">
  SERVICES
  <div class="page-subtitle">click on a card to see the price</div>
</div>

<div class="container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let procedure of procedures">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{procedure.procedureName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion">
          <div class="cost">
            {{procedure.cost | currencyConversion:currency }}
          </div>
          <span class="example-spacer"></span>
          <button *ngIf="role == 'Admin'" mat-icon-button color="warn" (click)="delete(procedure.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    
    <mat-slide-toggle class="slider" [checked] = false (change)="updateCurrency($event)">Convert prices to EUR</mat-slide-toggle>
    
    <div class="add-procedure-button">
        <button *ngIf="role == 'Admin'" mat-button mat-raised-button color="accent" (click)="addProcedure()">
            ADD A PROCEDURE
        </button>
    </div>
</div>

