<div class="container">
  <div class="page-title">APPOINTMENTS</div>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Scaling" #input>
  </mat-form-field>

  <mat-chip-list class="chip-list">
    <mat-chip color="primary" class="chip" [selected]="isSelectedPrevious" (click)="showPreviousAppointmentsOnly()">
      previous appointments
      <mat-icon (click)="showPreviousAppointmentsOnly()" matChipRemove *ngIf="isSelectedPrevious">cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" class="chip" [selected]="isSelectedUpcoming" (click)="showUpcomingAppointmentsOnly()">
      upcoming appointments
      <mat-icon (click)="showUpcomingAppointmentsOnly()" matChipRemove *ngIf="isSelectedUpcoming">cancel</mat-icon>
    </mat-chip>

  </mat-chip-list>

  <table mat-table class="appointmentsTable" [dataSource]="dataSource" class="mat-elevation-z8" matSort
    (matSortChange)="announceSortChange($event)">

    <!-- Doctor name -->
    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by doctor"> Doctor Name </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.doctorName}} </td>
    </ng-container>

    <!-- Doctor name -->
    <ng-container matColumnDef="pacientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pacient"> Pacient Name </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.pacientName}} </td>
    </ng-container>

    <!-- Procedure name -->
    <ng-container matColumnDef="procedure">
      <th mat-header-cell *matHeaderCellDef> Procedure </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.procedureName}} </td>
    </ng-container>

    <!-- Start time -->
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start time"> Start Time </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.startTime | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <!-- End time -->
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end time"> End Time </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.endTime | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Delete -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let appointment">
        <button mat-icon-button color="warn" (click)="delete(appointment)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Edit Time -->
    <ng-container matColumnDef="editStartTime">
      <th mat-header-cell *matHeaderCellDef> Edit Time </th>
      <td mat-cell *matCellDef="let appointment">
        <button mat-icon-button color="warn" (click)="editTime(appointment)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'expired': isExpired(row)}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of appointments">
  </mat-paginator>

  <div class="button-container">
    <button id="submit-button" mat-button mat-raised-button color="accent" (click)="addAppointment()">
      NEW APPOINTMENT
    </button>
  </div>

</div>
