table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.button-container {
  margin: auto;
  width: 200px;
  padding: 10px;
}

.chip-list {
  margin: 5px;
}

.chip {
  font-size: 12px;
  cursor: pointer;
}